.u-section-1 .u-sheet-1 {
  min-height: 801px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  background-image: none;
  margin: 83px 153px 0 767px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  background-image: none;
  font-weight: 700;
  margin: -32px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-family: BioRhyme;
  font-weight: normal;
  margin: 30px 204px 0 777px;
}

.u-section-1 .u-text-4 {
  font-family: BioRhyme;
  margin: 30px auto 0 0;
}

.u-section-1 .u-text-5 {
  font-family: BioRhyme;
  margin: -25px auto 0 278px;
}

.u-section-1 .u-text-6 {
  font-family: BioRhyme;
  margin: -25px auto 0 413px;
}

.u-section-1 .u-text-7 {
  font-family: BioRhyme;
  margin: -25px auto 0 548px;
}

.u-section-1 .u-line-1 {
  width: 647px;
  transform-origin: left center 0px;
  margin: 9px auto 0 0;
}

.u-section-1 .u-line-2 {
  width: 647px;
  transform-origin: left center 0px;
  margin: 165px auto 0 0;
}

.u-section-1 .u-form-1 {
  height: 515px;
  margin: -231px -20px 0 767px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-family: BioRhyme;
  font-weight: 400;
}

.u-section-1 .u-label-2 {
  font-family: BioRhyme;
  font-weight: 400;
}

.u-section-1 .u-label-3 {
  font-family: BioRhyme;
  font-weight: 400;
}

.u-section-1 .u-label-4 {
  font-family: BioRhyme;
  font-weight: 400;
}

.u-section-1 .u-input-1 {
  font-weight: 700;
}

.u-section-1 .u-label-5 {
  font-family: BioRhyme;
  font-weight: 400;
}

.u-section-1 .u-input-2 {
  font-weight: 700;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-6 {
  font-family: BioRhyme;
  font-weight: 400;
}

.u-section-1 .u-input-3 {
  font-weight: 700;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-7 {
  font-family: BioRhyme;
  font-weight: 400;
}

.u-section-1 .u-input-4 {
  font-weight: 700;
}

.u-section-1 .u-btn-1 {
  font-family: BioRhyme;
}

.u-section-1 .u-line-3 {
  width: 647px;
  transform-origin: left center 0px;
  margin: -119px auto 0 0;
}

.u-section-1 .u-text-8 {
  font-family: BioRhyme;
  margin: 31px auto 0 413px;
}

.u-section-1 .u-text-9 {
  font-size: 1.375rem;
  background-image: none;
  font-weight: 700;
  font-style: italic;
  margin: 13px auto 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-line-4 {
  width: 233px;
  transform-origin: right center 0px;
  margin: -17px auto 0 414px;
}

.u-section-1 .u-text-10 {
  font-family: BioRhyme;
  font-weight: 700;
  margin: 30px auto 60px 413px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 84px;
    margin-right: 203px;
    margin-left: 667px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 201px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -279px;
    margin-right: 264px;
    margin-left: 677px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 14px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 378px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 440px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 552px;
  }

  .u-section-1 .u-line-1 {
    margin-left: 100px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 667px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 341px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 341px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 313px;
    margin-left: 557px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 210px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 374px;
    margin-left: 561px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 210px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 423px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 470px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 556px;
  }

  .u-section-1 .u-line-1 {
    margin-left: 210px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 557px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 261px;
  }

  .u-section-1 .u-text-10 {
    margin-bottom: 10px;
    margin-left: 261px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 403px;
    margin-left: 467px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 191px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -302px;
    margin-right: 411px;
    margin-left: 534px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 37px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 460px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 495px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 560px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
    margin-left: 300px;
  }

  .u-section-1 .u-line-2 {
    width: 540px;
    margin-left: 300px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -282px;
    margin-left: 467px;
  }

  .u-section-1 .u-line-3 {
    width: 540px;
    margin-top: 44px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 196px;
  }

  .u-section-1 .u-line-4 {
    margin-left: 307px;
  }

  .u-section-1 .u-text-10 {
    margin-bottom: 39px;
    margin-left: 196px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 83px;
    margin-right: 446px;
    margin-left: 424px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 400px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -335px;
    margin-right: 451px;
    margin-left: 494px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 70px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 501px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 523px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 564px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-1 .u-line-2 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -315px;
    margin-left: 367px;
  }

  .u-section-1 .u-line-3 {
    width: 340px;
    margin-top: 77px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 123px;
  }

  .u-section-1 .u-line-4 {
    margin-left: 107px;
  }

  .u-section-1 .u-text-10 {
    margin-bottom: 6px;
    margin-left: 123px;
  }
}